{% extends 'base.html.twig' %}

{% block title %}Edit Etudiantt{% endblock %}

{% block body %}
    <h1>Edit Etudiantt</h1>

    {{ include('etudiantt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_etudiantt_index') }}">back to list</a>

    {{ include('etudiantt/_delete_form.html.twig') }}
{% endblock %}
